duckdb==0.10.3
pyarrow==15.0.2
fastapi==0.111.1
uvicorn[standard]==0.29.0
websockets==12.0
apscheduler==3.10.4
pydantic==2.7.4
pydantic-settings==2.3.4
pandas==2.2.2
numpy==1.26.4
pytz==2024.1
python-dateutil==2.9.0.post0
PyYAML==6.0.1
aiofiles==23.2.1
